@import "syntax.css";

body {

    background: black;
    color: white;
}


a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color:inherit;
}


a, a:visited, a:hover, a:active, a:focus {
    color: lightskyblue;
}


.disabled-link {
  pointer-events: none;
  cursor: default;
}


.root {
    min-height: 95vh;
    width:fit-content;
    block-size: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;

    margin-top: 15px;
    margin-bottom: 15px;
    padding : 35px;
    padding-top: 10px;
    /* border: 1px lightcyan solid; */

}


h1 {
  text-align: center;
}

.content-table {
  border-collapse: true;
  margin: 25px 0;
  min-width: 400px;
  font-size: 1.1em;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20 rgba(0,0,0,0.15);
  box-shadow: 0 0 20 rgba(255,255,255,0.15);

}

/* ref : https://www.youtube.com/watch?v=biI9OFH6Nmg */

.content-table thead tr {
  /* background-color: #009879; */
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;

}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid white;
}

.content-table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
  background-color: #f0f0f0;
  color: black;
}


.content-table tbody tr:last-of-type {
  border-bottom: 2px solid green;
}

.content-table a {
  color: darkblue;
}

.code-block {
  font-size: 1.2em;

}


.probList {
  padding: 5px 20px;
}

.probItem {
  font-size: 1.25em;
  margin : 15px 10px;
  padding: 10px;
  border: 2px solid #aaa;
}

header {
  position: sticky;
  bottom: 100%;
}

footer {
  position: sticky;
  top: 100%;

}

.footer-copyright {
  text-align: center;
}
