<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="root">
        {{ partial "header.html" . }}


        <main>

            {{ block "main" . }}

            {{end}}

        </main>

        {{ partial "footer.html" . }}
    </div>

</body>

</html>
