{{ define "main" }}


<table class="content-table">
    <thead>
        <tr>
            <th> No </th>
            <th> Name </th>
            <th> Difficulty </th>
            <th> Problem </th>
            <th> Solution </th>
        </tr>
    </thead>

    <tbody>
        {{ range .Pages }}
        <tr>
            <td> {{ .Params.number }} </td>
            <td> {{ .Title }} </td>
            <td> {{ .Params.difficulty }} </td>
            <td> <a href="{{ .Permalink }}"> link </a> </td>
            <td> <a href="{{ .Permalink }}"> link </a> </td>

        </tr>

        {{ end }}

    </tbody>

</table>

{{ end }}
