{{define "main" }}

<div class="probList" >
   {{ partial "prob.html" (dict "name" "Leetcode problems" "href" (printf "%slc/problems" .Site.BaseURL)) }}

   {{ partial "prob.html" (dict "name" "GeeksForGeeks problems" "href" (printf "%sgfg/problems" .Site.BaseURL)) }}

   {{ partial "prob.html" (dict "name" "Codeforces contests" "href" (printf "%scf/contest" .Site.BaseURL)) }}

   {{ partial "prob.html" (dict "name" "Atcoder contests" "href" (printf "%sat/problems" .Site.BaseURL)) }}

</div>

{{end}}
